<font size="6"><b>Here is your results!</b></font><br>
 <font size="6"><%=num1%> <%=math%> <%=num2%> = <%=total%></font><br>
<!-- Displays number (math function) number = total <br> makes a line break -->
 <img src = "./img/tryagain.jpg"><br>

 <font size="6"><b>Wanna go again???</b></font><br>
 <!-- Added a submit button for a redirect to add new numbers and a new function. -->
 <form method="post" action="/results">
 	<input type = 'hidden' name = 'fname' value = <%=fname%>>
	<input type = 'hidden' name = 'lname' value = <%=lname%>>
 	<input type = 'submit' name = 'submit'>
 </form>

