<b>Here is your results!</b><br>
 <%=num1%> <%=math%> <%=num2%> = <%=total%><br>
<!-- Displays number (math function) number = total <br> makes a line break -->
 <img src = "./img/tryagain.jpg"><br>

 <b>Wanna go again???</b><br>
 <!-- Added a submit button for a redirect to add new numbers and a new function. -->
 <form method="post" action="/results">
 	<input type = 'hidden' name = 'fname' value = <%=fname%>>
	<input type = 'hidden' name = 'lname' value = <%=lname%>>
 	<input type = 'submit' name = 'submit'>
 </form>

